*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik" , sans-serif;

}

header {
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: greenyellow;
}