*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik" , sans-serif;
	font-size: 20px;
	font-weight: 300;

}

header {
	padding: 20px 50px;
	margin: 10px;
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: greenyellow;
}

body {
	background-color: black;
}


a {
	text-decoration: none;
	color: black;
}

nav {
	display: flex;
	gap: 20px;
}

span {
	display: flex;
	gap: 4px;
}

.logo {
	font-size: 30px;
}

.cta_button{
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 100px;
	width: fit-content;
	cursor: pointer;
}

.wide_section{
	background-color: #1E2118;
	padding: 50px;
	margin: 10px;
	border-radius: 8px;
	min-height: calc(100vh - 200px);
	display: flex;
	flex-direction: row;
	align-content: start;
	justify-content: space-between;
	gap: 50px;
	height: auto;
	/*flex-wrap: wrap;*/
}

.hero_wide_section{
	background-color: #1E2118;
	padding: 50px;
	margin: 10px;
	border-radius: 8px;
	min-height: calc(100vh - 200px);
	display: flex;
	flex-direction: column;
	align-content: start;
	justify-content: space-between;
	gap: 50px;

}

.wide_section_ui{
	background-color: #1A3826 ;
}

.wide_section_software {
	background-color: #102537 ;
}

h1 {
	color: whitesmoke;
	font-size: 100px;
	width: 800px;
	margin-bottom: 20px;
}

p {
	color: whitesmoke;
	width: 550px;
	margin-bottom: 20px;
	opacity: 60%;
}


.skill_section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;

}

.skill_containter {
	background-color: #1E2118;
	padding: 50px;
	margin: 10px;
	border-radius: 8px;
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	min-height: 350px;

}

.secondary_text {
	color: whitesmoke;
	font-size: 50px;
	margin-bottom: 10px	;
}

.tag_container {
	display: flex;
	gap: 8px;
}

.skill_tag {
	color: whitesmoke;
	padding: 10px 20px;
	border-radius: 100px;
	border: 1px solid whitesmoke;
	font-size: 16px;
	width: fit-content;
}

.project_containter {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
}

.footer_containter {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
}


.project_img {
}

img {
	border-radius: 10px;
	width: 800px;
	height: 600px;
	object-fit: cover;

}

.fill_cta_button{
	background-color: greenyellow;
	color: black;
	border-radius: 100px;
	padding: 10px 20px;
	width: fit-content;
	cursor: pointer;
	outline: none;
	border: none;
}

.form_container{
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction: row;
	width: 100%;
	gap: 50px;
	height: 100%;
}

input {
	width: 100%;
	padding: 20px;
	border-radius: 8px;
	border: none;
	margin-bottom: 16px;
	background-color: #353A2B;
	color: whitesmoke;
	outline: none;
	box-shadow: none !important;
}


input::placeholder {
	color: whitesmoke;
	opacity: 30%;
}

input::focus{
	border: none;
}

textarea {
	width: 100%;
	padding: 20px;
	border-radius: 8px;
	border: none;
	margin-bottom: 16px;
	background-color: #353A2B;
	color: whitesmoke;
	outline: none;
	box-shadow: none !important;
	height: 100%;

}

.column {
	flex-direction: column;
}
